.experience {
  background-color: $bg-accent-dark-color;
  padding: 20px 0 17px;

  @media screen and (min-width: $tablet-viewport) {
    background: linear-gradient(to bottom, #ffffff 60%, $bg-accent-color 60%, $bg-accent-color 100%);
  }

  @media screen and (min-width: $desktop-viewport) {
    background-color: $bg-accent-color;
  }
}

.experience__header {
  background-color: transparent;
  padding-bottom: 40px;

  @media screen and (min-width: $tablet-viewport) {
    background-color: $accent-text-color;
  }
}

.experience__description {
  background-color: transparent;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;

  @media screen and (min-width: $tablet-viewport) {
    background-color: $accent-text-color;
  }

  @media screen and (min-width: $desktop-viewport) {
    background-color: transparent;
  }
}

.experience__content {
  @include standard-content-font();
}

.experience__statistic {
  display: flex;
  flex-wrap: wrap;
}

.experience__list {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet-viewport) {
    width: 50%;
  }
}

.experience__item {
  width: 124px;
}

.experience__footer {
  text-align: center;
  width: 100%;
  margin-top: 20px;

  @media screen and (min-width: $tablet-viewport) {
    width: 50%;
  }
}

.experience__demo {
  margin: 40px 0;

  @media screen and (min-width: $tablet-viewport) {
    margin: 40px auto;
  }
}
