.instructions {
  padding-bottom: 50px;
}

.instructions__header {
  padding: 0 0 40px;
}

.instructions__list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}

.instructions__item {
  @include standard-content-font();
}
