.map {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0;
  background-color: #ffffff;
}

.map--accent {
  background-color: $bg-accent-color;
}

.map__invitation {
  margin: 20px 0;
}

.map__image {
  display: block;
}
