.page {
  font-family: $primary-font;
  background-color: transparent;
}

.page__body {
  font-family: inherit;
  background-color: transparent;
}

.page__container {
  @include page-container();
  position: relative;
}

.page__container--tablet-activate {
  width: 100%;
}
