/* stylelint-disable rule-empty-line-before */
/* stylelint-disable block-no-empty */

.product {
  padding: 20px 0;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 15px;
}

.product__title {
  font-family: $header-font;
  font-weight: 400;
  color: $header-secondary-text-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 20px;
    line-height: 20px;
  }
}

.product__content {
  font-size: 14px;
  line-height: 14px;
  font-family: $primary-font;
  font-weight: 400;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__button {

}
